<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>target/logs/iquit.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <fileNamePattern>iquit.%d{yyyy-MM-dd}.log</fileNamePattern>
	      <!-- keep 30 days' worth of history -->
	      <maxHistory>30</maxHistory>
	    </rollingPolicy>

		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

    <!-- Cell-Life -->

    <logger name="org.celllife" level="TRACE">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE" />
    </logger>

    <!-- Hibernate -->

    <logger name="org.hibernate" level="WARN" />

    <!-- Spring -->

    <logger name="org.springframework" level="WARN" />

    <!-- C3P0 Connection Pool -->

    <logger name="com.mchange.v2" level="WARN" />

    <!-- Liquibase -->

    <logger name="liquibase" level="WARN" />

    <!-- Root -->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>